*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.main{
    padding: 30px 0 500px;
    text-align: center;
    background: skyblue;
}
.title{
    margin-top: 55px;
}
.info{
    margin-top: 30px;
}
.result{
    margin-top: 30px;
}
.game-filed{
    display: flex;
    justify-content: center;
    align-items: center;

}
.seperator{
    font-size: 150px;
}
.info__btn{
    font-size: 25px;
    text-align: center;
}
.action__input{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.action__input{
    margin: 20px 0 50px;
    background: cadetblue;
    padding: 20px 50px;
    border-radius: 10px;
}
.options{
    margin-top: 20px;
    width: 200px;
    height: 200px;
}